# Pandas
Pandas es la librería por excelencia para el análisis de datos del lenguaje Python. Su nombre proviene de “panel data” (término econométrico). Inspirada en las funcionalidades de R, pero con el potencial de este lenguaje de propósito general.

Pandas incluye todas las funcionalidades necesarias para el proceso de análisis de datos: carga, filtrado, tratamiento, síntesis, agrupamiento, almacenamiento y visualización. Además, se integra con el resto de librerías de cálculo numérico como Numpy, Matplotlib, scikit-learn, … y de despliegue: HPC, Cloud, etc.

En resumen, es como una hoja de cálculo -por ejemplo excel- pero con más mucho más potencial!!!

Características principales

Todo el trabajo que realizaremos es sobre la estructura de datos básica: el dataFrame.

Un dataFrame es un objeto de dos dimensiones que contiene información. También puede verse como una hoja de cálculo, como una tabla de un modelo entidad-relación, o como una colección de una base de datos no relacional.

Documentación

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/User/Desktop/MAD2/ttda/WHO.csv")
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [3]:
df.shape

(202, 358)

In [4]:
df.columns

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [5]:
df.index

RangeIndex(start=0, stop=202, step=1)

Atributos de un DataFrame
Un dataframe dispone de diferentes atributos con los que podemos obtener su información o metainformación. Los siguientes ejemplos muestran cómo se pueden consultar sus dimensiones o un listado del nombre de sus columnas:

In [6]:
df.shape # Ver las dimensiones **

(202, 358)

In [7]:
df.columns[:5]

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)'],
      dtype='object')

In [8]:
df.columns[-2]

'Urban_population_growth'

In [9]:
df.columns[-5:-1]

Index(['Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth'],
      dtype='object')

¿Cómo consultariais el nombre de la columna 10? ¿y los de las columnas de la 200 a la 225?

In [10]:
df.columns[10]

'Population in urban areas (%)'

In [11]:
df.columns[200:226]

df.columns[len(df.columns)-3:len(df.columns)]

Index(['Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object')

## Funciones descriptivas de un dataframe
Pandas ofrece una colección de funciones que permiten realizar una inspección general de la tabla de datos:

describe: muestra estadísticas descriptivas básicas para todas las columnas numéricas.

info: muestra todas las columnas y sus tipos de datos.

head i tail: muestra las 
 primeras/últimas filas. El valor de 
 es un parámetro de este método.

In [12]:
df.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [14]:
df.head(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4

In [15]:
df.tail(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-447000000.0,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-171000000.0,106.5,67.0,106.5,4709965.0,1.90,35.9

## Carga de datos (segunda parte)
Desafortunadamente, la estructura y codificación de los datos en los archivos CSV varía según la herramienta o el sistema operativo. Por lo tanto, podemos encontrarnos con separadores entre columnas que no sean la típica coma (‘,’) o formatos de codificación de texto que no sean abiertos (por ejemplo, utf-8, ansi, etc.).

Es por esto que la función read_csv es muy versátil. Puedes consultar su documentación.

Vamos a ver qué sucede cuando se obtienen datos de una administración pública. Puedes encontrar el archivo disponible en: ‘data/presupuesto_gastos_2023.csv’. Puedes acceder a estos datos a través del siguiente enlace.

In [16]:
df_gastos = pd.read_csv("C:/Users/User/Desktop/MAD2/ttda/presupuesto_gastos_2023.csv",encoding="cp1250",sep=";") # quins errors genera ?
df_gastos

,_id,SOZIETATEA_EU/SOCIEDAD_EU,SOZIETATEA_CAS/SOCIEDAD_CAS,EKITALDIA/EJERCICIO,SAILA/DEPARTAMENTO,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_EU,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_CAS,ZENTRU KUDEATZAILEA/CENTRO GESTOR,ZENTRO KUDEATZAILEAREN DESKR._EUS/DESCR. CENTRO GESTOR_EUS,ZENTRO KUDEATZAILEAREN DESKR._CAS/DESCR. CENTRO GESTOR_CAS,...,ARTIKULUAREN DESKRIBAPENA_CAS/DESCRIPCION ARTICULO_CAS,KONTZEPTUA/CONCEPTO,KONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION CONCEPTO_EUS,KONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION CONCEPTO_CAS,AZPIKONTZEPTUA/SUBCONCEPTO,AZPIKONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION SUBCONCEPTO_EUS,AZPIKONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION SUBCONCEPTO_CAS,PROIEKTUA/PROYECTO,PROIEKTUAREN DESKRIBAPENA/DESCRIPCION PROYECTO,HASIERAKO KREDITUA/CREDITO INICIAL 2023
0,1,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DE ALTOS CARGOS,100,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,10001,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"220.619,00"
1,2,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL EVENTUAL DE GABINETES,110,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,11001,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"589.261,00"
2,3,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,120,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,12001,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,9999/99999,GENERIKOA/ GENÉRICO,"383.369,00"
3,4,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12101,LANTOKI OSAGARRIA,COMPLEMENTO DE DESTINO,9999/99999,GENERIKOA/ GENÉRICO,"131.722,00"
4,5,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12102,OSAGARRI BEREZIA,COMPLEMENTO ESPECIFICO,9999/99999,GENERIKOA/ GENÉRICO,"396.609,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,2089,UDAL,UDAL,2023,A10,ALKATETZAKO KABINETEA,GABINETE DE ALCALDÍA,A101,PROTOKOLOKO ETA HARREMAN PUBLIKOEN BULEGOA,"OFICINA PROTOCOLO, RR.PP. E NSTITUCIONALES",...,"MATERIAL, SUMINISTROS Y OTROS",227,KANPOKO ENPRESEK EGINDAKO LANAK,TRABAJOS REALIZADOS POR OTRAS EMPRESAS EXTERNAS,22717,BIDAI AGENTZIETAKO ZERBITZUAK,SERVICIOS DE AGENCIAS DE VIAJES,2006/00184,Harreman Publikoetako Kabineteari lotutako gas...,"500,00"
2089,2090,UDAL,UDAL,2023,A10,ALKATETZAKO KABINETEA,GABINETE DE ALCALDÍA,A101,PROTOKOLOKO ETA HARREMAN PUBLIKOEN BULEGOA,"OFICINA PROTOCOLO, RR.PP. E NSTITUCIONALES",...,"MATERIAL, SUMINISTROS Y OTROS",227,KANPOKO ENPRESEK EGINDAKO LANAK,TRABAJOS REALIZADOS POR OTRAS EMPRESAS EXTERNAS,22720,ITZULPEN ETA INTERPRETARITZA ZERBITZUAK,SERVICIOS DE TRADUCCION E INTERPRETES,2006/00182,Protokoloko eta ordezkaritzako arreta/Harreman...,"2.000,00"
2090,2091,UDAL,UDAL,2023,A10,ALKATETZAKO KABINETEA,GABINETE DE ALCALDÍA,A101,PROTOKOLOKO ETA HARREMAN PUBLIKOEN BULEGOA,"OFICINA PROTOCOLO, RR.PP. E NSTITUCIONALES",...,"MATERIAL, SUMINISTROS Y OTROS",227,KANPOKO ENPRESEK EGINDAKO LANAK,TRABAJOS REALIZADOS POR OTRAS EMPRESAS EXTERNAS,22723,ZERBITZUAK:ARGIAK ETA SOINUAK,SERVICIOS DE ILUMINACIÓN Y SONIDO,2006/00182,Protokoloko eta ordezkaritzako arreta/Harreman...,"10.000,00"
2091,2092,UDAL,UDAL,2023,A10,ALKATETZAKO KABINETEA,GABINETE DE ALCALDÍA,A101,PROTOKOLOKO ETA HARREMAN PUBLIKOEN BULEGOA,"OFICINA PROTOCOLO, RR.PP. E NSTITUCIONALES",...,"MATERIAL, SUMINISTROS Y OTROS",227,KANPOKO ENPRESEK EGINDAKO LANAK,TRABAJOS REALIZADOS POR OTRAS EMPRESAS EXTERNAS,22799,KANPOKO ENPRESEK EGINDAKO BESTELAKO LANAK,OTROS TRABAJOS REALIZADOS POR EMPRESAS EXTERNAS,2006/00182,Protokoloko eta ordezkaritzako arreta/Harreman...,"48.400,00"
2092,2093,UDAL,UDAL,2023,A10,ALKATETZAKO KABINETEA,GABINETE DE ALCALDÍA,A101,PROTOKOLOKO ETA HARREMAN PUBLIKOEN BULEGOA,"OFICINA PROTOCOLO, RR.PP. E NSTITUCIONALES",...,INDEMNIZACIONES POR RAZON DEL SERVICIO,230,"BIDAI SARIAK, PERTSONALAREN GARRAIOA ETA LOKOM...","DIETAS, LOCOMOCION Y TRASLADO DEL PERSONAL",23001,"BIDAI SARIAK, PERTSONALAREN GARRAIOA ETA LOKOM...","DIETAS, LOCOMOCION Y TRASLADO DEL PERSONAL",2006/00184,Harreman Publikoetako Kabineteari lotutako gas...,"500,00"

## Codificación de caracteres
Python utilitza una representación basada en Unicode (https://home.unicode.org/). Otros sistemas operativos y programas utilizan otro tipo de representaciones.

In [17]:
????

Object `??` not found.

## Otras maneras de cargar datos

In [18]:
# por la dirección del fichero en web
df_who = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

In [19]:
df_who.head(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4

In [20]:
# extracción de contenido en una página web
#url = "https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a"

#comunidades_esp = pd.io.html.read_html(url)
#comunidades_esp[0] # Alerta!

## Actividades
En esta actividad practicaremos la carga de datos en diferentes formatos. En el mundo real, los datos no siempre tienen una estructura y un formato como desearíamos.

El objetivo es que analices la carga de estos datos con los datos originales:

¿Qué dimensión tienen los datos reales y los cargados?

¿Cuáles son las columnas?

¿El concepto de columna como atributo o característica y el concepto de fila como muestra están presentes en la estructura de los datos?

¿Coinciden con la información del archivo?

In [21]:
df_1 = pd.read_csv("C:/Users/User/Desktop/MAD2/ttda/Speculation_Watch_List_20251104.csv")
print(df_1.columns)
print(df_1.shape)

Index(['borough', 'boro', 'block', 'lot', 'bbl', 'hnum_lo', 'hnum_hi',
       'str_name', 'crfn', 'grantee', 'deed_date', 'price', 'cap_rate',
       'borough_cap_rate', 'yearqtr', 'Postcode', 'Latitude', 'Longitude',
       'Community Board', 'Council District',
       'Census Tract (2020) (from 2023)', 'BIN',
       'NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023)', 'Location1'],
      dtype='object')
(659, 24)

## Guardando un dataframe

In [22]:
#df_gastos.to_csv('data/tmp_file.csv',encoding='utf-8') # guardant un dataframe en un fitxer, especificant el forma

## Estructura del dataframe
Ahora que ya sabemos cargar dataframes desde archivos, descubriremos cómo podemos acceder a la información que se encuentra dentro de los tipos de variables utilizados por Pandas.

Un dataframe tiene columnas y filas. Las filas son muestras y las columnas representan características de una muestra. Una columna es del tipo Serie.

El objetivo de esta unidad es adquirir herramientas para comprender y seleccionar los datos representados en un dataframe y una serie con Pandas.

Comenzaremos seleccionando columnas y obteniendo resúmenes estadísticos de ellas. Más adelante, pasaremos a realizar selecciones de filas en el dataframe. Finalmente, realizaremos selecciones combinadas creando nuestros propios dataframes a partir de los subconjuntos seleccionados.”

In [23]:
df_who = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

In [24]:
df_who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [25]:
df_who.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [26]:
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [27]:
df_who.shape

(202, 358)

In [28]:
# Columnas o características de cada muestra
print(df_who.columns)

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [29]:
for ix, col in enumerate(df_who.columns): #label
    print("ix:%i\tlabel:%s"%(ix,col))

ix:0	label:Country
ix:1	label:CountryID
ix:2	label:Continent
ix:3	label:Adolescent fertility rate (%)
ix:4	label:Adult literacy rate (%)
ix:5	label:Gross national income per capita (PPP international $)
ix:6	label:Net primary school enrolment ratio female (%)
ix:7	label:Net primary school enrolment ratio male (%)
ix:8	label:Population (in thousands) total
ix:9	label:Population annual growth rate (%)
ix:10	label:Population in urban areas (%)
ix:11	label:Population living below the poverty line (% living on &lt; US$1 per day)
ix:12	label:Population median age (years)
ix:13	label:Population proportion over 60 (%)
ix:14	label:Population proportion under 15 (%)
ix:15	label:Registration coverage of births (%)
ix:16	label:Total fertility rate (per woman)
ix:17	label:Antenatal care coverage - at least four visits (%)
ix:18	label:Antiretroviral therapy coverage among HIV-infected pregt women for PMTCT (%)
ix:19	label:Antiretroviral therapy coverage among people with advanced HIV infections (%)
ix:20	label:Births attended by skilled health personnel (%)
ix:21	label:Births by caesarean section (%)
ix:22	label:Children aged 6-59 months who received vitamin A supplementation (%)
ix:23	label:Children aged &lt;5 years sleeping under insecticide-treated nets (%)
ix:24	label:Children aged &lt;5 years who received any antimalarial treatment for fever (%)
ix:25	label:Children aged &lt;5 years with ARI symptoms taken to facility (%)
ix:26	label:Children aged &lt;5 years with diarrhoea receiving ORT (%)
ix:27	label:Contraceptive prevalence (%)
ix:28	label:Neonates protected at birth against neonatal tetanus (PAB) (%)
ix:29	label:One-year-olds immunized with MCV
ix:30	label:One-year-olds immunized with three doses of diphtheria tetanus toxoid and pertussis (DTP3) (%)
ix:31	label:One-year-olds immunized with three doses of Hepatitis B (HepB3) (%)
ix:32	label:One-year-olds immunized with three doses of Hib (Hib3) vaccine (%)
ix:33	label:Tuberculosis detection rate under DOTS (%)
ix:34	label:Tuberculosis treatment success under DOTS (%)
ix:35	label:Women who have had mammography (%)
ix:36	label:Women who have had PAP smear (%)
ix:37	label:Community and traditional health workers density (per 10 000 population)
ix:38	label:Dentistry personnel density (per 10 000 population)
ix:39	label:Environment and public health workers density (per 10 000 population)
ix:40	label:External resources for health as percentage of total expenditure on health
ix:41	label:General government expenditure on health as percentage of total expenditure on health
ix:42	label:General government expenditure on health as percentage of total government expenditure
ix:43	label:Hospital beds (per 10 000 population)
ix:44	label:Laboratory health workers density (per 10 000 population)
ix:45	label:Number of community and traditional health workers
ix:46	label:Number of dentistry personnel
ix:47	label:Number of environment and public health workers
ix:48	label:Number of laboratory health workers
ix:49	label:Number of nursing and midwifery personnel
ix:50	label:Number of other health service providers
ix:51	label:Number of pharmaceutical personnel
ix:52	label:Number of physicians
ix:53	label:Nursing and midwifery personnel density (per 10 000 population)
ix:54	label:Other health service providers density (per 10 000 population)
ix:55	label:Out-of-pocket expenditure as percentage of private expenditure on health
ix:56	label:Per capita government expenditure on health (PPP int. $)
ix:57	label:Per capita government expenditure on health at average exchange rate (US$)
ix:58	label:Per capita total expenditure on health (PPP int. $)
ix:59	label:Per capita total expenditure on health at average exchange rate (US$)
ix:60	label:Pharmaceutical personnel density (per 10 000 population)
ix:61	label:Physicians density (per 10 000 population)
ix:62	label:Private expenditure on health as percentage of total expenditure on health
ix:63	label:Private prepaid plans as percentage of private expenditure on health
ix:64	label:Ratio of health management and support workers to health service providers
ix:65	label:Ratio of nurses and midwives to physicians
ix:66	label:Social security expenditure on health as percentage of general government expenditure on health
ix:67	label:Total expenditure on health as percentage of gross domestic product
ix:68	label:Births attended by skilled health personnel (%) highest educational level of mother
ix:69	label:Births attended by skilled health personnel (%) highest wealth quintile
ix:70	label:Births attended by skilled health personnel (%) lowest educational level of mother
ix:71	label:Births attended by skilled health personnel (%) lowest wealth quintile
ix:72	label:Births attended by skilled health personnel (%) rural
ix:73	label:Births attended by skilled health personnel (%) urban
ix:74	label:Births attended by skilled health personnel difference highest lowest educational level of mother
ix:75	label:Births attended by skilled health personnel difference highest-lowest wealth quintile
ix:76	label:Births attended by skilled health personnel difference urban-rural
ix:77	label:Births attended by skilled health personnel ratio highest-lowest educational level of mother
ix:78	label:Births attended by skilled health personnel ratio highest-lowest wealth quintile
ix:79	label:Births attended by skilled health personnel ratio urban-rural
ix:80	label:Measles immunization coverage among one-year-olds (%) highest educational level of mother
ix:81	label:Measles immunization coverage among one-year-olds (%) highest wealth quintile
ix:82	label:Measles immunization coverage among one-year-olds (%) lowest educational level of mother
ix:83	label:Measles immunization coverage among one-year-olds (%) lowest wealth quintile
ix:84	label:Measles immunization coverage among one-year-olds (%) rural
ix:85	label:Measles immunization coverage among one-year-olds (%) urban
ix:86	label:Measles immunization coverage among one-year-olds difference highest-lowest educational level of mother
ix:87	label:Measles immunization coverage among one-year-olds difference highest-lowest wealth quintile
ix:88	label:Measles immunization coverage among one-year-olds difference urban-rural
ix:89	label:Measles immunization coverage among one-year-olds ratio highest-lowest educational level of mother
ix:90	label:Measles immunization coverage among one-year-olds ratio highest-lowest wealth quintile
ix:91	label:Measles immunization coverage among one-year-olds ratio urban-rural
ix:92	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest educational level of mother
ix:93	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest wealth quintile
ix:94	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference rural-urban
ix:95	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest educational level of mother
ix:96	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest wealth quintile
ix:97	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest educational level of mother
ix:98	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest wealth quintile
ix:99	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest educational level of mother
ix:100	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest wealth quintile
ix:101	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio rural-urban
ix:102	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) rural
ix:103	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) urban
ix:104	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) both sexes
ix:105	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) female
ix:106	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) male
ix:107	label:Age-standardized mortality rate for cancer (per 100 000 population)
ix:108	label:Age-standardized mortality rate for cardiovascular diseases (per 100 000 population)
ix:109	label:Age-standardized mortality rate for injuries (per 100 000 population)
ix:110	label:Age-standardized mortality rate for non-communicable diseases (per 100 000 population)
ix:111	label:Deaths among children under five years of age due to diarrhoeal diseases (%)
ix:112	label:Deaths among children under five years of age due to HIV/AIDS (%)
ix:113	label:Deaths among children under five years of age due to injuries (%)
ix:114	label:Deaths among children under five years of age due to malaria (%)
ix:115	label:Deaths among children under five years of age due to measles (%)
ix:116	label:Deaths among children under five years of age due to neonatal causes (%)
ix:117	label:Deaths among children under five years of age due to other causes (%)
ix:118	label:Deaths among children under five years of age due to pneumonia (%)
ix:119	label:Deaths due to HIV/AIDS (per 100 000 population per year)
ix:120	label:Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
ix:121	label:Deaths due to tuberculosis among HIV-positive people (per 100 000 population)
ix:122	label:Healthy life expectancy (HALE) at birth (years) both sexes
ix:123	label:Healthy life expectancy (HALE) at birth (years) female
ix:124	label:Healthy life expectancy (HALE) at birth (years) male
ix:125	label:Incidence of tuberculosis (per 100 000 population per year)
ix:126	label:Infant mortality rate (per 1 000 live births) both sexes
ix:127	label:Infant mortality rate (per 1 000 live births) female
ix:128	label:Infant mortality rate (per 1 000 live births) male
ix:129	label:Life expectancy at birth (years) both sexes
ix:130	label:Life expectancy at birth (years) female
ix:131	label:Life expectancy at birth (years) male
ix:132	label:Maternal mortality ratio (per 100 000 live births)
ix:133	label:Neonatal mortality rate (per 1 000 live births)
ix:134	label:Number of confirmed poliomyelitis cases
ix:135	label:Prevalence of HIV among adults aged &gt;=15 years (per 100 000 population)
ix:136	label:Prevalence of tuberculosis (per 100 000 population)
ix:137	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) both sexes
ix:138	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) female
ix:139	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) male
ix:140	label:Years of life lost to communicable diseases (%)
ix:141	label:Years of life lost to injuries (%)
ix:142	label:Years of life lost to non-communicable diseases (%)
ix:143	label:Children under five years of age overweight for age (%)
ix:144	label:Children under five years of age stunted for age (%)
ix:145	label:Children under five years of age underweight for age (%)
ix:146	label:Newborns with low birth weight (%)
ix:147	label:Per capita recorded alcohol consumption (litres of pure alcohol) among adults (&gt;=15 years)
ix:148	label:Population using solid fuels (%) rural
ix:149	label:Population using solid fuels (%) urban
ix:150	label:Population with sustainable access to improved drinking water sources (%) rural
ix:151	label:Population with sustainable access to improved drinking water sources (%) total
ix:152	label:Population with sustainable access to improved drinking water sources (%) urban
ix:153	label:Population with sustainable access to improved sanitation (%) rural
ix:154	label:Population with sustainable access to improved sanitation (%) total
ix:155	label:Population with sustainable access to improved sanitation (%) urban
ix:156	label:Prevalence of adults (&gt;=15 years) who are obese (%) female
ix:157	label:Prevalence of adults (&gt;=15 years) who are obese (%) male
ix:158	label:Prevalence of condom use by young people (15-24 years) at higher risk sex (%) female
ix:159	label:Prevalence of condom use by young people (15-24 years) at higher risk sex (%) male
ix:160	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) both sexes
ix:161	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) female
ix:162	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) male
ix:163	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) both sexes
ix:164	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) female
ix:165	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) male
ix:166	label:Adolescent_fertility_rate
ix:167	label:Agricultural_land
ix:168	label:Agriculture_contribution_to_economy
ix:169	label:Aid_given
ix:170	label:Aid_received
ix:171	label:Aid_received_total
ix:172	label:All_forms_of_TB_new_cases_per_100_000_estimated
ix:173	label:All_forms_of_TB_new_cases_per_100_000_reported
ix:174	label:Annual_freshwater_withdrawals_total
ix:175	label:Arms_exports
ix:176	label:Arms_imports
ix:177	label:Bad_teeth_per_child
ix:178	label:Births_attended_by_skilled_health_staff
ix:179	label:Breast_cancer_deaths_per_100_000_women
ix:180	label:Breast_cancer_new_cases_per_100_000_women
ix:181	label:Breast_cancer_number_of_female_deaths
ix:182	label:Breast_cancer_number_of_new_female_cases
ix:183	label:Broadband_subscribers
ix:184	label:Broadband_subscribers_per_100_people
ix:185	label:CO2_emissions
ix:186	label:CO2_intensity_of_economic_output
ix:187	label:Capital_formation
ix:188	label:Cell_phones_per_100_people
ix:189	label:Cell_phones_total
ix:190	label:Central_bank_discount_rate
ix:191	label:Cervical_cancer_deaths_per_100_000_women
ix:192	label:Cervical_cancer_new_cases_per_100_000_women
ix:193	label:Cervical_cancer_number_of_female_deaths
ix:194	label:Cervical_cancer_number_of_new_female_cases
ix:195	label:Children_and_elderly
ix:196	label:Children_out_of_school_primary
ix:197	label:Children_out_of_school_primary_female
ix:198	label:Children_out_of_school_primary_male
ix:199	label:Children_per_woman
ix:200	label:Coal_consumption
ix:201	label:Coal_consumption_per_person
ix:202	label:Coal_production
ix:203	label:Coal_production_per_person
ix:204	label:Colon_and_Rectum_cancer_deaths_per_100_000_men
ix:205	label:Colon_and_Rectum_cancer_deaths_per_100_000_women
ix:206	label:Colon_and_Rectum_cancer_new_cases_per_100_000_men
ix:207	label:Colon_and_Rectum_cancer_new_cases_per_100_000_women
ix:208	label:Colon_and_Rectum_cancer_number_of_female_deaths
ix:209	label:Colon_and_Rectum_cancer_number_of_male_deaths
ix:210	label:Colon_and_Rectum_cancer_number_of_new_female_cases
ix:211	label:Colon_and_Rectum_cancer_number_of_new_male_cases
ix:212	label:Consumer_price_index
ix:213	label:Contraceptive_use
ix:214	label:Deaths_from_TB_per_100_000_estimated
ix:215	label:Debt_servicing_costs
ix:216	label:Democracy_score
ix:217	label:Electric_power_consumption
ix:218	label:Electricity_generation
ix:219	label:Electricity_generation_per_person
ix:220	label:Energy_use
ix:221	label:Expenditure_per_student_primary
ix:222	label:Expenditure_per_student_secondary
ix:223	label:Expenditure_per_student_tertiary
ix:224	label:Exports_of_goods_and_services
ix:225	label:Exports_unit_value
ix:226	label:External_debt_total_DOD_current_USdollars
ix:227	label:External_debt_total_pct_of_GNI
ix:228	label:Female_labour_force
ix:229	label:Fixed_line_and_mobile_phone_subscribers
ix:230	label:Foreign_direct_investment_net_inflows
ix:231	label:Foreign_direct_investment_net_outflows
ix:232	label:Forest_area
ix:233	label:Gross_capital_formation
ix:234	label:HIV_infected
ix:235	label:Health_expenditure_per_person
ix:236	label:Health_expenditure_private
ix:237	label:Health_expenditure_public_pct_of_GDP
ix:238	label:Health_expenditure_public_pct_of_government_expenditure
ix:239	label:Health_expenditure_public_pct_of_total_health_expenditure
ix:240	label:Health_expenditure_total
ix:241	label:High_technology_exports
ix:242	label:Hydroelectricity_consumption
ix:243	label:Hydroelectricity_consumption_per_person
ix:244	label:Imports_of_goods_and_services
ix:245	label:Imports_unit_value
ix:246	label:Improved_sanitation_facilities_urban
ix:247	label:Improved_water_source
ix:248	label:Income_growth
ix:249	label:Income_per_person
ix:250	label:Income_share_held_by_lowest_20pct
ix:251	label:Industry_contribution_to_economy
ix:252	label:Inequality_index
ix:253	label:Infant_mortality_rate
ix:254	label:Infectious_TB_new_cases_per_100_000_estimated
ix:255	label:Infectious_TB_new_cases_per_100_000_reported
ix:256	label:Infectious_TB_treatment_completeness
ix:257	label:Inflation_GDP_deflator
ix:258	label:Internet_users
ix:259	label:Life_expectancy_at_birth
ix:260	label:Literacy_rate_adult_female
ix:261	label:Literacy_rate_adult_male
ix:262	label:Literacy_rate_adult_total
ix:263	label:Literacy_rate_youth_female
ix:264	label:Literacy_rate_youth_male
ix:265	label:Literacy_rate_youth_total
ix:266	label:Liver_cancer_deaths_per_100_000_men
ix:267	label:Liver_cancer_deaths_per_100_000_women
ix:268	label:Liver_cancer_new_cases_per_100_000_men
ix:269	label:Liver_cancer_new_cases_per_100_000_women
ix:270	label:Liver_cancer_number_of_female_deaths
ix:271	label:Liver_cancer_number_of_male_deaths
ix:272	label:Liver_cancer_number_of_new_female_cases
ix:273	label:Liver_cancer_number_of_new_male_cases
ix:274	label:Lung_cancer_deaths_per_100_000_men
ix:275	label:Lung_cancer_deaths_per_100_000_women
ix:276	label:Lung_cancer_new_cases_per_100_000_men
ix:277	label:Lung_cancer_new_cases_per_100_000_women
ix:278	label:Lung_cancer_number_of_female_deaths
ix:279	label:Lung_cancer_number_of_male_deaths
ix:280	label:Lung_cancer_number_of_new_female_cases
ix:281	label:Lung_cancer_number_of_new_male_cases
ix:282	label:Malaria_prevention_insecticide_treated_bed_nets_usage
ix:283	label:Malaria_treatment
ix:284	label:Malnutrition_weight_for_age
ix:285	label:Market_value_of_listed_companies
ix:286	label:Maternal_mortality
ix:287	label:Math_achievement_4th_grade
ix:288	label:Math_achievement_8th_grade
ix:289	label:Measles_immunization
ix:290	label:Medical_Doctors
ix:291	label:Merchandise_trade
ix:292	label:Military_expenditure
ix:293	label:Natural_gas_consumption
ix:294	label:Natural_gas_consumption_per_person
ix:295	label:Natural_gas_production
ix:296	label:Natural_gas_production_per_person
ix:297	label:Natural_gas_proved_reserves
ix:298	label:Natural_gas_proven_reserves_per_person
ix:299	label:Net_barter_terms_of_trade
ix:300	label:Nuclear_consumption
ix:301	label:Nuclear_consumption_per_person
ix:302	label:Number_of_deaths_from_TB_estimated
ix:303	label:Number_of_existing_TB_cases_estimated
ix:304	label:Oil_consumption
ix:305	label:Oil_consumption_per_person
ix:306	label:Oil_production
ix:307	label:Oil_production_per_person
ix:308	label:Oil_proved_reserves
ix:309	label:Oil_proven_reserves_per_person
ix:310	label:Old_version_of_Income_per_person
ix:311	label:Patent_applications
ix:312	label:Patents_granted
ix:313	label:Patents_in_force
ix:314	label:People_living_with_HIV
ix:315	label:Personal_computers_per_100_people
ix:316	label:Personal_computers_total
ix:317	label:Population_growth
ix:318	label:Population_in_urban_agglomerations_more_than_1_million
ix:319	label:Population_total
ix:320	label:Poverty_headcount_ratio_at_national_poverty_line
ix:321	label:Present_value_of_debt
ix:322	label:Primary_completion_rate_total
ix:323	label:Primary_energy_consumption
ix:324	label:Primary_energy_consumption_per_person
ix:325	label:Primary_school_completion_pct_of_boys
ix:326	label:Primary_school_completion_pct_of_girls
ix:327	label:Prostate_cancer_deaths_per_100_000_men
ix:328	label:Prostate_cancer_new_cases_per_100_000_men

In [30]:
type(df_who) # tipo (puede usarse con todo)

pandas.core.frame.DataFrame

Podemos utilizar el nombre de una columna para obtener los datos de dicha columna, tal como lo hacíamos con un diccionario python. Veremos dos maneras diferentes de hacerlo:

In [31]:
paises = df_who["Country"]
paises

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

Una vez que seleccionamos una columna, podemos acceder a sus elementos como si fueran una lista:

In [32]:
print(df_who["Country"][0])
print("-"*30)
print(df_who["Country"][:5]) # slicing
print("-"*30)
print(df_who["Country"].values)

Afghanistan
------------------------------
0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: Country, dtype: object
------------------------------
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [33]:
# Multiples columnas
df_who[df_who.columns[0:5]]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%)
0,Afghanistan,1,1,151.0,28.0
1,Albania,2,2,27.0,98.7
2,Algeria,3,3,6.0,69.9
3,Andorra,4,2,NaN,NaN
4,Angola,5,3,146.0,67.4
...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3
198,West Bank and Gaza,199,1,NaN,NaN
199,Yemen,200,1,83.0,54.1
200,Zambia,201,3,161.0,68.0
201,Zimbabwe,202,3,101.0,89.5

In [34]:
# Dos columnas específicas
df_who[["CountryID","Continent"]]

     CountryID  Continent
0            1          1
1            2          2
2            3          3
3            4          2
4            5          3
..         ...        ...
197        198          6
198        199          1
199        200          1
200        201          3
201        202          3

[202 rows x 2 columns]

In [35]:
# Existen dos métodos loc e iloc para acceder a sub-regiones de los datos
# funció: .iloc(filas, columnas)
df2 = df_who.iloc[:,3:5]
print(df2.shape)
print(df2.head())

(202, 2)
   Adolescent fertility rate (%)  Adult literacy rate (%)
0                          151.0                     28.0
1                           27.0                     98.7
2                            6.0                     69.9
3                            NaN                      NaN
4                          146.0                     67.4

## Sobre Series
Cuando seleccionamos una columna de un DataFrame, obtenemos una Serie. Las Series tienen ciertas características, como la capacidad de aplicar métodos estadísticos (si son Series numéricas).

In [36]:
fertilitat = df_who[df_who.columns[3]]

fertilitat

0      151.0
1       27.0
2        6.0
3        NaN
4      146.0
       ...
197     25.0
198      NaN
199     83.0
200    161.0
201    101.0
Name: Adolescent fertility rate (%), Length: 202, dtype: float64

## MUCHOS DORITOS MAS TARDE
## ACTIVIDADES

In [37]:
# read file csv
import pandas as pd
df_who = pd.read_csv("C:/Users/User/Desktop/MAD2/ttda/WHO.csv")
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [38]:
# 1
df_who["Urban_population"].mean()

np.float64(16657626.767446807)

In [39]:
df_who["Urban_population"].std()

np.float64(50948665.823935635)

In [40]:
# 2
df_who[df_who["Country"]=="Spain"]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7

In [41]:
# 3
df_who[df_who["Urban_population"] == df_who["Urban_population"].max()]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
36,China,37,7,3.0,90.9,4660.0,96.0,100.0,1328474.0,0.6,...,5547757.5,1.890000e+12,295.23,1.250000e+11,27.3,27.8,27.3,527000000.0,2.95,40.4

In [42]:
# 3B
df_who[df_who["Urban_population"] < 50000 ]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
5,Antigua and Barbuda,6,4,NaN,NaN,15130.0,NaN,NaN,84.0,1.3,...,421.36,830000000.0,NaN,-102000000.0,12.60,NaN,12.60,32468.25,2.25,39.1
69,Grenada,70,5,53.0,NaN,8770.0,83.0,84.0,106.0,0.3,...,234.50,414000000.0,23.19,-220000000.0,22.00,NaN,22.00,32589.00,0.45,30.6
91,Kiribati,92,6,NaN,NaN,6230.0,98.0,96.0,94.0,1.7,...,25.65,51900000.0,NaN,-20800000.0,66.00,NaN,66.00,46926.00,3.08,47.4
151,Saint Kitts and Nevis,152,5,NaN,NaN,12440.0,78.0,64.0,50.0,1.3,...,135.57,387000000.0,24.28,-84300000.0,21.00,NaN,21.00,15456.00,1.77,32.2
152,Saint Lucia,153,5,51.0,NaN,8500.0,97.0,99.0,163.0,1.1,...,370.06,764000000.0,27.39,-119000000.0,17.70,14.0,17.70,45482.32,1.15,27.6
154,Samoa,155,6,45.0,98.6,5090.0,91.0,90.0,185.0,0.8,...,150.22,286000000.0,12.46,-116000000.0,29.98,NaN,29.98,41181.28,1.18,22.4
160,Seychelles,161,3,NaN,91.8,14360.0,100.0,99.0,86.0,0.7,...,578.91,563000000.0,8.34,-187000000.0,13.54,NaN,13.54,43854.10,1.20,52.9
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0,0.5,...,117.25,167000000.0,57.30,-94600000.0,24.48,NaN,24.48,23846.64,1.04,24.0

In [56]:
# 4
sample_spain = df_who[df_who["Country"]=="Spain"]
sample_spain

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
168,Spain,169,Europa,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7

In [55]:
sample_eeuu = df_who[df_who["Country"]=="United States of America"]
sample_eeuu

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
192,United States of America,193,América,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.5,1.100000e+13,NaN,-7.140000e+11,8.0,7.1,8.0,240000000.0,1.39,80.8

In [44]:
# 5
top5 = df_who.sort_values("Total_CO2_emissions", axis=0, ascending=False).head(5)
top5["Country"]

192    United States of America
36                        China
149                      Russia
79                        India
87                        Japan
Name: Country, dtype: object

In [45]:
# 6
codigoContinentes = {1:"Asia",2:"Europa"} #Al menos hay 7!
print(codigoContinentes[2])

Europa

In [46]:
codigoContinentes = {1:"Asia",2:"Europa",3:"África", 4:"América",5:"Sud-América",6:"Oceanía",7:"Asia"} # TODO...
codigoContinentes

{1: 'Asia',
 2: 'Europa',
 3: 'África',
 4: 'América',
 5: 'Sud-América',
 6: 'Oceanía',
 7: 'Asia'}

In [47]:
# 7
df_who["Continent"] = df_who["Continent"].map(codigoContinentes)
df_who.head(5)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,Asia,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,Europa,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,África,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,Europa,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,África,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [48]:
# 8
df2 = df_who[df_who["Continent"] == "Europa"]
df2

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
1,Albania,2,Europa,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1.431794e+06,2.21,45.4
3,Andorra,4,Europa,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Armenia,8,Europa,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1.934321e+06,-0.62,64.1
9,Austria,10,Europa,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5.433978e+06,0.77,66.0
10,Azerbaijan,11,Europa,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4.321803e+06,1.26,51.5
15,Belarus,16,Europa,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7.057977e+06,0.11,72.2
16,Belgium,17,Europa,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,1.020000e+07,0.57,97.2
22,Bosnia and Herzegovina,23,Europa,25.0,96.7,6780.0,NaN,NaN,3926.0,0.3,...,26274.55,6.440000e+09,47.80,-4.460000e+09,15.40,8.4,15.40,1.789264e+06,1.35,45.7
26,Bulgaria,27,Europa,40.0,98.2,10270.0,92.0,93.0,7693.0,-0.7,...,44422.34,1.640000e+10,55.40,-4.450000e+09,14.30,15.2,14.30,5.418000e+06,-0.21,70.0
44,Croatia,45,Europa,14.0,98.1,13850.0,90.0,91.0,4556.0,0.1,...,22878.02,2.320000e+10,28.90,-2.830000e+09,7.10,6.9,7.10,2.510493e+06,0.33,56.5
46,Cyprus,47,Europa,5.0,96.8,25060.0,99.0,99.0,846.0,1.1,...,7016.56,1.030000e+10,NaN,-4.530000e+08,5.20,5.0,5.20,5.251554e+05,2.61,69.3
47,Czech Republic,48,Europa,11.0,NaN,20920.0,94.0,91.0,10189.0,0.0,...,119691.89,6.780000e+10,NaN,4.050000e+09,4.50,4.0,4.50,7.522058e+06,0.13,73.5
48,Denmark,49,Europa,6.0,NaN,36190.0,96.0,95.0,5430.0,0.2,...,46078.47,1.710000e+11,NaN,1.380000e+10,5.20,4.8,5.20,4.636077e+06,0.39,85.6
57,Estonia,58,Europa,21.0,99.8,18090.0,94.0,95.0,1340.0,-0.3,...,18202.75,8.360000e+09,NaN,-8.450000e+08,7.80,8.2,7.80,9.301551e+05,-0.30,69.1
60,Finland,61,Europa,11.0,NaN,33170.0,97.0,97.0,5261.0,0.3,...,53160.98,1.350000e+11,NaN,1.140000e+10,3.80,3.4,3.80,3.205367e+06,0.34,61.1
61,France,62,Europa,8.0,NaN,32240.0,99.0,98.0,61330.0,0.6,...,377692.44,1.430000e+12,NaN,-1.530000e+10,4.80,4.4,4.80,4.670000e+07,0.81,76.7
65,Georgia,66,Europa,47.0,NaN,3880.0,91.0,88.0,4433.0,-0.9,...,4785.18,4.340000e+09,25.22,-1.130000e+09,32.10,37.7,32.10,2.335120e+06,-1.16,52.2
66,Germany,67,Europa,11.0,NaN,32680.0,98.0,98.0,82641.0,0.0,...,783982.44,1.970000e+12,NaN,1.390000e+11,4.90,4.3,4.90,6.200000e+07,-0.03,75.2
68,Greece,69,Europa,11.0,96.0,30870.0,99.0,100.0,11123.0,0.2,...,95359.27,1.420000e+11,NaN,-1.510000e+10,4.90,4.9,4.90,6.551360e+06,0.45,59.0
77,Hungary,78,Europa,21.0,NaN,16970.0,88.0,89.0,10058.0,-0.3,...,56370.64,5.930000e+10,28.14,-8.870000e+08,8.00,7.9,8.00,6.687714e+06,0.32,66.3
78,Iceland,79,Europa,16.0,NaN,33740.0,97.0,98.0,298.0,0.9,...,2183.74,1.040000e+10,NaN,-2.000000e+09,2.90,3.1,2.90,2.753840e+05,1.69,92.8
83,Ireland,84,Europa,19.0,NaN,34730.0,95.0,94.0,4221.0,1.9,...,42348.51,1.250000e+11,NaN,2.360000e+10,5.70,5.3,5.70,2.516256e+06,2.67,60.5
85,Italy,86,Europa,7.0,98.4,28970.0,98.0,99.0,58779.0,0.2,...,452108.28,1.130000e+12,NaN,-2.770000e+08,4.40,4.2,4.40,3.960000e+07,0.86,67.6
89,Kazakhstan,90,Europa,26.0,99.5,8700.0,90.0,90.0,15314.0,0.7,...,180924.66,3.000000e+10,16.30,5.050000e+09,36.60,34.5,36.60,8.679260e+06,1.24,57.3
95,Kyrgyzstan,96,Europa,27.0,98.7,1790.0,85.0,86.0,5259.0,1.1,...,5565.62,1.650000e+09,30.21,-4.550000e+08,44.10,48.3,44.10,1.841373e+06,1.21,35.8
97,Latvia,98,Europa,16.0,99.7,14840.0,92.0,89.0,2289.0,-0.6,...,6452.30,1.160000e+10,16.27,-2.410000e+09,11.00,13.4,11.00,1.559739e+06,-0.62,67.8
102,Lithuania,103,Europa,19.0,99.6,14550.0,89.0,90.0,3408.0,-0.5,...,13974.50,1.660000e+10,30.38,-1.870000e+09,9.00,8.7,9.00,2.273924e+06,-0.74,66.6
103,Luxembourg,104,Europa,11.0,NaN,60870.0,98.0,96.0,461.0,1.0,...,11314.43,2.380000e+10,NaN,1.210000e+10,4.30,4.0,4.30,3.781555e+05,0.51,82.8
105,Macedonia,106,Europa,23.0,96.1,7850.0,92.0,92.0,2036.0,0.1,...,10270.19,3.840000e+09,59.77,-1.090000e+09,16.40,10.5,16.40,1.401188e+06,1.33,68.9
117,Moldova,118,Europa,29.0,99.0,2660.0,88.0,88.0,3833.0,-1.1,...,8053.47,1.810000e+09,29.10,-1.210000e+09,20.60,17.6,20.60,1.810401e+06,-0.99,46.7
118,Monaco,119,Europa,NaN,NaN,NaN,NaN,NaN,33.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Montenegro,121,Europa,16.0,NaN,8930.0,NaN,NaN,601.0,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Netherlands,128,Europa,7.0,NaN,37940.0,97.0,99.0,16379.0,0.3,...,125759.47,4.030000e+11,NaN,5.320000e+10,5.70,4.5,5.70,1.310000e+07,1.09,80.2
135,Norway,136,Europa,8.0,NaN,50070.0,98.0,98.0,4669.0,0.6,...,52915.49,1.850000e+11,NaN,4.940000e+10,4.20,4.1,4.20,3.578434e+06,1.02,77.4
144,Poland,145,Europa,14.0,NaN,14250.0,96.0,96.0,38140.0,-0.1,...,302389.90,1.990000e+11,43.07,-8.540000e+08,7.70,8.1,7.70,2.370000e+07,0.09,62.1
145,Portugal,146,Europa,19.0,93.9,19960.0,98.0,98.0,10579.0,0.5,...,62357.62,1.160000e+11,NaN,-1.610000e+10,5.10,5.0,5.10,6.076483e+06,1.57,57.6
148,Romania,149,Europa,33.0,97.3,10150.0,93.0,93.0,21532.0,-0.4,...,89075.51,4.890000e+10,55.28,-1.010000e+10,18.60,26.5,18.60,1.160000e+07,-0.57,53.7
149,Russia,150,Europa,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.50,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,1.040000e+08,-0.60,73.0
155,San Marino,156,Europa,NaN,NaN,NaN,NaN,NaN,31.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Serbia,160,Europa,24.0,NaN,9320.0,NaN,NaN,9851.0,-0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Slovakia,164,Europa,21.0,NaN,17060.0,92.0,92.0,5388.0,0.0,...,36640.00,2.550000e+10,64.64,-4.080000e+08,8.60,8.0,8.60,3.027494e+06,0.05,56.2
164,Slovenia,165,Europa,6.0,99.7,23970.0,95.0,96.0,2001.0,0.1,...,14846.53,2.290000e+10,NaN,-1.980000e+08,4.50,3.9,4.50,1.020255e+06,0.25,51.0
168,Spain,169,Europa,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.90,4.2,4.90,3.330000e+07,1.75,76.7
173,Sweden,174,Europa,7.0,NaN,34310.0,95.0,95.0,9078.0,0.4,...,48511.36,2.700000e+11,NaN,2.700000e+10,3.90,3.5,3.90,7.598242e+06,0.40,84.2
174,Switzerland,175,Europa,5.0,NaN,40840.0,89.0,89.0,7455.0,0.4,...,41165.04,2.590000e+11,NaN,2.570000e+10,5.30,4.7,5.30,5.592699e+06,1.20,75.2
177,Tajikistan,178,Europa,57.0,99.5,1560.0,95.0,99.0,6640.0,1.4,...,5235.86,1.530000e+09,18.28,-4.280000e+08,77.70,60.4,77.70,1.617903e+06,0.31,24.7
185,Turkey,186,Europa,51.0,87.4,8410.0,89.0,93.0,73922.0,1.3,...,247873.27,2.460000e+11,31.01,-1.830000e+10,32.60,34.1,32.60,4.850000e+07,2.05,67.3
186,Turkmenistan,187,Europa,29.0,98.8,3990.0,NaN,NaN,4899.0,1.4,...,41634.03,2.900000e+09,57.39,-6.340000e+08,58.10,65.7,58.10,2.232969e+06,1.88,46.2
189,Ukraine,190,Europa,29.0,99.4,6110.0,90.0,90.0,46557.0,-0.8,...,327129.25,4.520000e+10,58.23,6.710000e+08,23.80,13.3,23.80,3.190000e+07,-0.53,67.8
191,United Kingdom,192,Europa,27.0,NaN,33650.0,99.0,98.0,60512.0,0.4,...,546416.00,1.620000e+12,NaN,-8.020000e+10,6.10,5.4,6.10,5.400000e+07,0.72,89.7
194,Uzbekistan,195,Europa,40.0,NaN,2190.0,78.0,79.0,26981.0,1.4,...,112356.56,1.790000e+10,25.15,NaN,48.90,34.3,48.90,9.603424e+06,0.84,36.7

In [49]:
# 9
top5E = df2.sort_values("Total_CO2_emissions", axis=0, ascending=False).head(5)
top5E["Country"]

149            Russia
66            Germany
191    United Kingdom
85              Italy
61             France
Name: Country, dtype: object

In [50]:
# 10
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)]

data_municipios = {
    'Nombre': nombres,
    'Código Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Población': [random.randint(1000, 50000) for _ in range(10)]  # Añadimos un atributo aleatorio, en este caso "Población"
}

df_municipios = pd.DataFrame(data_municipios)


data_ayudas = {
    'Nombre':  [f'Municipio{i}' for i in range(1, 11)],
    'Ayuda Económica (en euros)': [random.randint(1000, 10000) for _ in range(10)],
    'Número de Beneficiarios': [random.randint(10, 100) for _ in range(10)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

Dataframe de Municipios:
        Nombre  Código Postal  Población
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
        Nombre  Ayuda Económica (en euros)  Número de Beneficiarios
0   Municipio1                        3407                       88
1   Municipio2                        6081                       91
2   Municipio3                        2618                       36
3   Municipio4                        2208                       80
4   Municipio5                        6409                       71
5   Municipio6                        8735                       66
6   Municipio7                        2649                       76
7   Municipio8                        6796                       43
8   Municipio9                        8113                       17
9  Municipio10                        6180                       80

In [51]:
# 1) Unir por municipio
df = df_municipios.merge(df_ayudas, on='Nombre', how='inner')

# 2) Métricas en función del nº total de habitantes
df['Ayuda_por_habitante'] = df['Ayuda Económica (en euros)'] / df['Población']
df['%_beneficiarios'] = 100 * df['Número de Beneficiarios'] / df['Población']
df['Ayuda_por_beneficiario'] = df['Ayuda Económica (en euros)'] / df['Número de Beneficiarios']

# 3) Resultado ordenado (más “contaminantes” = más ayuda por habitante en este caso)
res = (df[['Nombre','Población','Ayuda Económica (en euros)',
           'Ayuda_por_habitante','Número de Beneficiarios',
           '%_beneficiarios','Ayuda_por_beneficiario']]
       .sort_values('Ayuda_por_habitante', ascending=False))

print(res)

        Nombre  Población  Ayuda Económica (en euros)  Ayuda_por_habitante  \
5   Municipio6      10158                        8735             0.859913
8   Municipio9      17417                        8113             0.465809
1   Municipio2      15315                        6081             0.397062
6   Municipio7       7214                        2649             0.367203
4   Municipio5      19470                        6409             0.329173
3   Municipio4      10127                        2208             0.218031
9  Municipio10      35902                        6180             0.172135
7   Municipio8      41525                        6796             0.163660
0   Municipio1      39232                        3407             0.086842
2   Municipio3      34075                        2618             0.076831

   Número de Beneficiarios  %_beneficiarios  Ayuda_por_beneficiario
5                       66         0.649734              132.348485
8                       17         0.097606              477.235294
1                       91         0.594189               66.824176
6                       76         1.053507               34.855263
4                       71         0.364664               90.267606
3                       80         0.789967               27.600000
9                       80         0.222829               77.250000
7                       43         0.103552              158.046512
0                       88         0.224307               38.715909
2                       36         0.105649               72.722222

In [52]:
# ACT SNOWBALL

In [53]:
# Del fichero:

import pandas as pd
df = pd.read_csv("data/rdu-weather-history.csv",sep=";")
# print(df.head())
# print(df.columns)
print(df.shape)
print(df.snowfall.describe())

# values, repeticiones = np.unique(df.snowfall,return_counts=True)
# print(values)
# print(repeticiones)

FileNotFoundError: [Errno 2] No such file or directory: 'data/rdu-weather-history.csv'

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("data/rdu-weather-history.csv", sep=";")

# Asegura que snowfall es numérico
df["snowfall"] = pd.to_numeric(df["snowfall"], errors="coerce")
s = df["snowfall"]

1) Probar con qcut (cuantiles)

In [ ]:
# Intenta 4 cuantiles; si hay muchos empates (p. ej. muchos ceros) qcut puede colapsar bins.
q_bins = pd.qcut(s, q=4, duplicates="drop")  # usa 'drop' para no romper si los bordes coinciden
df["snowfall_q4"] = q_bins

print("qcut (bins y recuentos):")
print(q_bins.value_counts(dropna=False).sort_index())

2) Crear 4 categorías con cut
Opción A — 4 intervalos de ancho igual (simple y automática)

In [ ]:
df["snowfall_cut4_equalwidth"] = pd.cut(
    s, bins=4, include_lowest=True,
    labels=["muy baja", "baja", "moderada", "alta"]
)

print("cut (equal width):")
print(df["snowfall_cut4_equalwidth"].value_counts(dropna=False).sort_index())
print("intervalos:", df["snowfall_cut4_equalwidth"].cat.categories)

Opción B — Umbrales manuales (recomendado para nieve)

Define categorías interpretables (ajusta los cortes si quieres):

In [ ]:
edges = [-np.inf, 0, 2, 5, np.inf]  # 0=sin nieve, (0-2]=ligera, (2-5]=moderada, >5 intensa
labels = ["sin nieve", "ligera", "moderada", "intensa"]

df["snowfall_cut4_custom"] = pd.cut(
    s, bins=edges, labels=labels, right=True, include_lowest=True
)

print("cut (custom):")
print(df["snowfall_cut4_custom"].value_counts(dropna=False))

# ACT NaN

In [5]:
import pandas as pd
df = pd.read_csv("C:/Users/User/Desktop/MAD2/ttda/who.csv")
df.isna()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,True,True,True,True,True,True,True,...,False,False,True,True,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# 1b
max(df['Country'].isna())

False