# PRACTICA 2
## ANTONI RIGO BALAGUER

In [1]:
!git add Practica_II.ipynb
!git commit -m "Practica_II"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [2]:
import numpy as np
import pandas as pd
# 1 Creación de DataFrames
# a)
df1 = pd.DataFrame({"id": np.arange(20),
                   "numeros": np.arange(20)})
df1

    id  numeros
0    0        0
1    1        1
2    2        2
3    3        3
4    4        4
5    5        5
6    6        6
7    7        7
8    8        8
9    9        9
10  10       10
11  11       11
12  12       12
13  13       13
14  14       14
15  15       15
16  16       16
17  17       17
18  18       18
19  19       19

In [3]:
# b)
df2 = pd.DataFrame({"id": np.arange(10),
                    "aleatorios": np.random.rand(10)})
df2

   id  aleatorios
0   0    0.537187
1   1    0.481461
2   2    0.795052
3   3    0.844988
4   4    0.877081
5   5    0.674991
6   6    0.296945
7   7    0.215520
8   8    0.750570
9   9    0.695886

In [4]:
# c)
df3 = df1.merge(df2, left_on='id', right_on='id', how="outer")
df3

    id  numeros  aleatorios
0    0        0    0.537187
1    1        1    0.481461
2    2        2    0.795052
3    3        3    0.844988
4    4        4    0.877081
5    5        5    0.674991
6    6        6    0.296945
7    7        7    0.215520
8    8        8    0.750570
9    9        9    0.695886
10  10       10         NaN
11  11       11         NaN
12  12       12         NaN
13  13       13         NaN
14  14       14         NaN
15  15       15         NaN
16  16       16         NaN
17  17       17         NaN
18  18       18         NaN
19  19       19         NaN

In [5]:
# d)
df3.to_csv("df3.csv", index=False)
!git commit -m "Act1"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [6]:
# 2
df = pd.DataFrame({
    "A": range(1, 11),
    "B": [5,3,6,8,2,9,1,7,4,10]
})
df

    A   B
0   1   5
1   2   3
2   3   6
3   4   8
4   5   2
5   6   9
6   7   1
7   8   7
8   9   4
9  10  10

In [7]:
# a)
B5 = df[df["B"] > 5]
B5

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [8]:
# b)
df.loc[df["B"] < 4, "B"] = pd.NA
df

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

In [9]:
!git commit -m "Act2"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [10]:
# 3
dfV = pd.read_csv("winequality-red.csv", sep=";")
dfV

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [11]:
# a)
dfV.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [12]:
# b)
bins = [0, 4, 6, 8]
labels = ["malo", "regular", "bueno"]
dfV["quality"] = pd.cut(dfV["quality"], bins=bins, labels=labels)
dfV

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [13]:
# c)
dfV.drop(dfV[dfV.quality=="malo"].index, inplace=True) 
dfV

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [14]:
# d)
dfV["citric acid"] = dfV["citric acid"] * 100
dfV

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,4.0,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,56.0,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,8.0,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,10.0,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,13.0,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,12.0,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,47.0,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

In [15]:
# e
top7 = dfV.sort_values("pH", axis=0, ascending=False).head(7)
top7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1316,5.4,0.740,0.0,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular
1321,5.0,0.740,0.0,1.20,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,regular
695,5.1,0.470,2.0,1.30,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,regular
95,4.7,0.600,17.0,2.30,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,regular
1111,5.4,0.420,27.0,2.00,0.092,23.0,55.0,0.99471,3.78,0.64,12.3,bueno
1300,5.2,0.645,0.0,2.15,0.080,15.0,28.0,0.99444,3.78,0.61,12.5,regular
553,5.0,1.040,24.0,1.60,0.050,32.0,96.0,0.99340,3.74,0.62,11.5,regular

In [16]:
!git commit -m "Act3. He cambiado el apartado e). No me habia fijado que eran los 7 mayores"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [20]:
# 3.py Aplicación
from FuncionesP2 import eliminaDecimales, calculaRatio

dfV = eliminaDecimales(dfV, "alcohol")
dfV

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_sin_decimales
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,9
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular,9
2,7.8,0.760,4.0,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular,9
3,11.2,0.280,56.0,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular,9
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,8.0,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular,10
1595,5.9,0.550,10.0,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular,11
1596,6.3,0.510,13.0,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular,11
1597,5.9,0.645,12.0,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular,10
1598,6.0,0.310,47.0,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular,11

In [21]:
ratio = calculaRatio(dfV, "total sulfur dioxide", "free sulfur dioxide")

ValueError: Ratio > 1 encontrado.

In [30]:
!git commit -m "Act3. creación de .py y aplicación realizado"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	modified:   Practica_II.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [22]:
# 4
estudiantes = pd.DataFrame({
    "id": [1,2,3,4],
    "nombre": ["Ana","Luis","Marta","Jorge"]
})
notas = pd.DataFrame({
    "id": [1,2,2,5],
    "asignatura": ["Matemáticas","Historia","Química","Biología"],
    "nota": [8.5,7.0,6.5,9.0]
})

In [23]:
# a)
IN = estudiantes.merge(notas, on="id", how="inner")
len(IN)
# Solo se muestran los id que coinciden en ambos Data Frames

3

In [24]:
# b)
OUT = estudiantes.merge(notas, on="id", how="outer")
OUT
# Contrario que inner

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN
5   5    NaN     Biología   9.0

In [25]:
# c)
left = estudiantes.merge(notas, on="id", how="left")
left
# se dejan fuera los id del df notas q no estan en el df estudiantes

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN

In [26]:
# d)
right = estudiantes.merge(notas, on="id", how="right")
right
# se dejan fuera los id del df estudiantes q no estan en el df notas

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   5    NaN     Biología   9.0

In [27]:
# e)
estudiantes["curso"] = ["1A","1A","2B","3C"]
dfe = estudiantes.merge(notas, on="id", how="outer")
dfe

   id nombre curso   asignatura  nota
0   1    Ana    1A  Matemáticas   8.5
1   2   Luis    1A     Historia   7.0
2   2   Luis    1A      Química   6.5
3   3  Marta    2B          NaN   NaN
4   4  Jorge    3C          NaN   NaN
5   5    NaN   NaN     Biología   9.0

In [28]:
!git commit -m "Act4"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	modified:   Practica_II.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [29]:
# 5
ventas = pd.DataFrame({
 "region": ["Norte","Norte","Sur","Este","Sur","Este","Oeste",
            "Oeste","Norte","Sur"],
 "vendedor": ["Ana","Luis","Ana","Jorge","Luis","Ana","Marta",
              "Luis","Ana","Jorge"],
 "ventas": [1200,800,950,1100,400,1600,700,450,895,900],
 "producto": ["A","A","B","A","B","A","B","A","B","B"]
})

In [31]:
# a)
VxR = ventas.groupby("region")["ventas"].sum()
VxR

region
Este     2700
Norte    2895
Oeste    1150
Sur      2250
Name: ventas, dtype: int64

In [32]:
# b)
VxVd = ventas.groupby("vendedor")["ventas"].agg(["mean","max","min"])
VxVd

             mean   max  min
vendedor
Ana       1161.25  1600  895
Jorge     1000.00  1100  900
Luis       550.00   800  400
Marta      700.00   700  700

In [33]:
# c)
nVxR = ventas.groupby(["region","producto"]).size()
nVxR

region  producto
Este    A           2
Norte   A           2
        B           1
Oeste   A           1
        B           1
Sur     B           3
dtype: int64

In [34]:
# d)
from FuncionP2b import rango_ventas
RGxR = ventas.groupby("region")["ventas"].apply(rango_ventas)
RGxR

region
Este     500
Norte    400
Oeste    250
Sur      550
Name: ventas, dtype: int64

In [35]:
# e)
ventas[ventas["region"] == VxR.idxmax()]

  region vendedor  ventas producto
0  Norte      Ana    1200        A
1  Norte     Luis     800        A
8  Norte      Ana     895        B

In [36]:
!git commit -m "Act5"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	modified:   Practica_II.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [37]:
# 6
left

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN

In [38]:
# a)
left.isna().sum()

id            0
nombre        0
asignatura    2
nota          2
dtype: int64

In [39]:
# b)
# Estrategia 1: Eliminar las filas que contienen NaN
print(left.dropna())

#Estrategia 2: Rellenar datos que faltan
left_R = left.copy()
left_R["asignatura"] = left_R["asignatura"].fillna("Sin asignar")
left_R["nota"] = left_R["nota"].fillna(0)
left_R

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta  Sin asignar   0.0
4   4  Jorge  Sin asignar   0.0

In [40]:
!git commit -m "Act6. Practica terminada"

On branch main
Your branch is ahead of 'origin/main' by 9 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   A.ipynb
	modified:   Practica_II.ipynb
	deleted:    Untitled.ipynb
	deleted:    log.txt
	deleted:    xxx.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	.python-version
	Enunciado.pdf
	Enunciado_pruba.pdf
	Enunciat (1).pdf
	Enunciat.pdf
	FuncionP2b.py
	FuncionesP2.py
	GALIBOS TUNELES MADRID.csv
	Git & Github.ipynb
	OIP.jpg
	Pandas.ipynb
	Prova1.ipynb
	Prova2.ipynb
	"Pr\303\241ctica1.ipynb"
	README.md
	Series Temporales.ipynb
	Speculation_Watch_List_20251104.csv
	TTAD-main/
	VisualStudio_Projects/
	WHO.csv
	__pycache__/
	datos_1.csv
	datos_2.csv
	df3.csv
	main.py
	presupuesto_gastos_2023.csv
	pyproject.toml
	uv.lock
	winequality-red.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [41]:
!git log > log.txt